$box-border-color: #a8bfd9;
$box-bg-color: #EDF1F5;


.benchmark-preview {
  h3 {
    margin-top: 0
  }
}

.samples {

  margin: 10px 0 0;


  .sample {
    border: 1px solid $box-border-color;
    background-color: $box-bg-color;
    height: 30px;
    line-height: 26px;
    margin-bottom: 4px;
  }

  .sample-time {
    text-align: right;
    width: 120px;
  }

  .sample-scale {
    position: relative;
    margin: 1px;
  }

  .bar {
    background-color: $box-border-color;
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
  }
}



.sample-info {
  $gap: 10px;

  border: 1px solid $box-border-color;
  background-color: $box-bg-color;
  padding: 0;
  margin-bottom: 32px;
  border-radius: 4px;

  h3 {
    margin: $gap;
  }

  .state-icon {
    float: left;
    margin-left: 6px;
    margin-right: 12px;
  }

  .highlight {
    background-color: white;
    padding: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-color: $box-border-color;
    margin-bottom: 0;
    max-height: 250px;
    overflow-y: auto;

    .CodeMirror {
      border-right: none;
      border-left: none;
    }
  }

  .sample-stats {
    display: table;
    width: 100%
  }

  .param {
    display: table-cell;
    width: 25%;
    border-left: 1px solid $box-border-color;
    padding: $gap;
    text-align: center;
    font-size: 2em;
    font-weight: bold;

    span {
      font-size: 12px;
      display: block;
      text-transform: uppercase;
      color: #808080;
    }
  }


  .param:first-child {
    border: none;
  }
}


.highlight {
  .numbers {
    float: left;
    width: 2em;
    margin-right: .5em;
    text-align: right;
    font-family: monospace;
    color: #CCC;
  }
}



.benchmark-sample.well {
  padding: 19px 0;
}


h1 {
  margin-top: 0;
  font-size: 40px;
}

.jumbotron {
  padding-bottom: 30px;
  padding-top: 30px;

  text-align: center;


  h1 {
    margin-top: 0;
    font-size: 40px;
  }

  .CodeMirror {
    font-size: 14px;
    height: 215px;
    text-align: left;
  }
}

.CodeMirror-linenumbers {
  min-width: 37px;
}

.CodeMirror {
  border: 1px solid $box-border-color;
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.has-error .CodeMirror.cm-s-default {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}


table.sample-results {
  th.time, th.memory {
    width: 17%;
  }

  th.status {
    width: 10%;
  }

  td.title {
    white-space: nowrap;
  }

  td.time, td.memory  {
    font-size: 12px;
    .progress {
      margin-bottom: 0;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
      overflow: visible;
    }
    .progress-bar {
      overflow: visible;
      white-space: nowrap;
      margin-right: 5px;
    }
  }

}
