
$box-border-color: #9ad6fa;
$box-bg-color: #EFF3F8;


.benchmark-preview {
  h3 {
    margin-top: 0
  }
}

.samples {

  margin: 10px 0 0;


  .sample {
    border: 1px solid $box-border-color;
    background-color: $box-bg-color;
    height: 30px;
    line-height: 26px;
    margin-bottom: 4px;
  }

  .sample-time {
    text-align: right;
    width: 120px;
  }

  .sample-scale {
    position: relative;
    margin: 1px;
  }

  .bar {
    background-color: $box-border-color;
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
  }
}



.sample-info {
  $gap: 10px;

  border: 1px solid $box-border-color;
  background-color: $box-bg-color;
  padding: 0;
  margin-bottom: 32px;
  border-radius: 4px;

  h3 {
    margin: $gap;
  }

  .highlight pre {
    background-color: white;
    padding: $gap;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-color: $box-border-color;
    margin-bottom: 0;
    max-height: 250px;
    overflow-y: auto;
  }

  .sample-stats {
    display: table;
    width: 100%
  }

  .param {
    display: table-cell;
    width: 25%;
    border-left: 1px solid $box-border-color;
    padding: $gap;
    text-align: center;
    font-size: 2em;
    font-weight: bold;

    span {
      font-size: 12px;
      display: block;
      text-transform: uppercase;
      color: gray;
    }
  }


  .param:first-child {
    border: none;
  }
}
