ul class="nav navbar-nav"
 li = link_to 'Ruby Bench', root_path, :class => 'navbar-brand'
 li = link_to 'Create New', new_sample_group_path, :class => 'dropdown'
 li = link_to ' All Benchmarks',  sample_groups_path
